/* hotelTable.css */

table {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  button {
    background-color: #28a745;
    color: white;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  button.mx-2 {
    background-color: #dc3545;
  }
  
  button.mx-2:hover {
    background-color: #c82333;
  }
  
  button:focus {
    outline: none;
  }
  
  tr:hover {
    background-color: #f2f2f2;
  }
  